[submodule "QAsystem"]
	path = QAsystem
	url = https://github.com/BUCT-CS2301/QAsystem.git
[submodule "DatabaseGroup"]
	path = DatabaseGroup
	url = git@github.com:BUCT-CS2301/DatabaseGroup.git
[submodule "PalmMuseum"]
	path = PalmMuseum
	url = git@github.com:BUCT-CS2301/PalmMuseum.git
[submodule "Knowledge-Graph"]
	path = Knowledge-Graph
	url = git@github.com:BUCT-CS2301/Knowledge-Graph.git
